@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

.App {
  text-align: center;
  font-family: "Cabin", sans-serif;
}

.title {
  color: #05065a;
  cursor: pointer;
  margin: 0;
  padding-top: 35px;
}

.title:hover {
  text-decoration: underline;
}

.header {
  background-color: #caf0f8;
  border: black;
  height: 120px;
  width: 100%;
  margin-top: 0px;
}

.topic-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
  gap: 50px;
}

.week-names {
  color: rgb(57, 89, 196);
}

.topic {
  margin: 10px;
  border-radius: 5px;
  width: 230px;
  height: 230px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #caf0f8;
}

/* should the text colour be one the shades of blue */
/* perhaps the box shadow to a lighter blue */

.question_Section {
  display: flex;
  max-width: 600px;
  margin: auto;
  text-align: justify;
  flex-wrap: wrap;
  line-height: 1.8;
}

.QuestionBox {
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

button[type="submit"] {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: #03045e;
  padding: 20px 18px;
}

button[type="submit"]:hover {
  background: #caf0f8;
  color: black;
}

h4 {
  margin-bottom: 0.7rem;
  margin-top: 1.5rem;
  color: #0096c7;
}


#Week9-Agile,
#Week10-ComputerScience,
#Week11-Architecture {
  pointer-events: none;
  opacity: 0.2;
}

.feedback {
  display: flex;
  justify-content: space-between;
}


