.App {
  text-align: center;
}

.topic-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.topic {
  margin: 10px;
  border: 1px black solid;
  border-radius: 5px;
  width: 230px;
  height: 230px;
}

